@model IEnumerable<SimpleBlog.Models.Post>
<h1>Blog Posts</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.DateCreated.ToShortDateString()</td>
                <td>
                    <a href="/Posts/Details/@post.Id" class="btn btn-info">Details</a>
                    <a href="/Posts/Edit/@post.Id" class="btn btn-warning">Edit</a>
                    <a href="/Posts/Delete/@post.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Posts/Create" class="btn btn-primary">Create New Post</a>
